@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
/* 1500-220-2*20=1240 */
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
:root {
  --color-white: #ffffff;
  --color-gray52: #525560;
  --color-black: #0b0706;
  --color-text: #1d2130;
  --color-envir: #eff7f2;
  --color-body: #ffff;
  --color-text-next-card: #bef3c0;
  --foter-color: #000000;
}

.dark {
  --color-body: #1d2130;
  --color-white: #ccc;
  --color-gray52: #000000;
  --color-black: #bef3c069;
  --color-text: #ffffff;
  --color-envir: #2d5e5f;
  --color-text-next-card: #1d76a2;
  --foter-color: #bef3c0;
}
header nav {
  padding: 19px 0;
  background-color: var(--color-white);
}
.nav-menu ul li a {
  text-decoration: none;
  color: var(--color-gray52);
}
.nav-menu :hover {
  color: var(--color-black);
}
.nav-menu li {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-menu ul {
  display: flex;
  gap: 40px;
}
.menu-flex {
  display: flex;

  justify-content: space-between;
}
.btn button {
  padding: 12px 32px;
  border: none;
  border-radius: 3px;
  background-color: var(--color-black);
  color: var(--color-white);
}
.menu-flex-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page_about {
  margin-top: 96px;
}
.page_about_one {
  display: flex;
  gap: 24px;
}
.pages_about_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}
.pages_about_text h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
}
.pages_about_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: var(--color-gray52);
}
.text_img {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
.text_head_1 {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.text_img img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 40px;
}
.section_2_text {
  margin-top: 96px;
  background-color: var(--color-envir);
  padding: 110px 96px;
}
.Pages_section_menus h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: var(--color-text);
  margin-bottom: 64px;
}
.pages_items {
  display: flex;
  gap: 58px;
  flex-wrap: wrap;
  justify-content: center;
}
.page_item {
  display: flex;
  align-items: start;
  gap: 24px;
}
.page_item h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 0px;
  color: var(--color-text);
}
.page_item p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0px;
  color: var(--color-gray52);
}
.cards_must_sutiable h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--color-text);
  margin-top: 131px;
  margin-bottom: 64px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: 0.1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.ul_il {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

.li:nth-child(2n) {
  color: var(--white-2);
}

.li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: 0.2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: 0.3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, 0.2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: 0.5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: 0.3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
button:hover + .design-container,
button:active + .design-container,
button:focus + .design-container {
  --tr: 20;
  --op: 0.7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}
/* section_cards */
.cards_2_next_figma h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0px;
  color: var(--color-text);
  margin: 131px 64px;
}
.cards_figma {
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: 1s;
}

.card_figma {
  background-image: url(../images/what-we-does/IMage_card.svg);
  padding: 80px 48px;
  background-repeat: no-repeat;
  transition: 1s;
}
.card_figma:hover {
  transform: scale(1.1);
}
.figma_2 {
  background-image: url(../images/what-we-does/Image.svg);
}
.card_figma_3 {
  background-image: url(../images/what-we-does/Next_3.svg);
}
.card_figma h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0px;
  color: var(--color-white);
}
.card_figma p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0px;
  color: var(--color-white);
  margin: 16px 0 64px;
}
.btn_2 {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.btn_2:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "Thanks";
  height: 50px;
  width: 150px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "See more";
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* natije */

@media (max-width: 740px) {
  .menu-flex-3 {
    flex-direction: column;
  }
  .menu-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Pages_section_menus h2 {
    font-size: 30px;
  }
  .card_figma h3 {
    font-size: 20px;
  }
  .card_figma p {
    line-height: 20.6px;
  }
}
@media (max-width: 840px) {
  .pages_about_text {
    flex-direction: column;
  }
}
@media (max-width: 1050px) {
  .nav-menu ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cards_figma {
    flex-wrap: wrap;
  }
}
footer {
  padding-bottom: 98px;
  background-color: var(--foter-color);
}

.footer-menu ul li a {
  text-decoration: none;
  font-size: 16px;
}
.footer-menu li {
  list-style: none;
  text-decoration: none;
}
.footer-menu ul {
  gap: 20px;
  font-size: 16px;
}
.footer-menu ul li a {
  color: var(--color-gray52);
}
.footer-flex {
  display: flex;
  padding: 96px 0 0 0;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.footer-menu h4 ul li a {
  color: var(--color-white);
}
.footer-menu h4 {
  padding-bottom: 24px;
}
.footer-menu :not(:last-child) {
  padding-bottom: 24px;
}
.footer-menu ul li a:hover {
  color: var(--color-white);
}
.h4text {
  max-width: 440px;
  font-size: 40px;
  color: var(--color-white);
}
.input-flex {
  margin-top: 32px;
  max-width: 400px;
}
.input-brand {
  display: flex;
}
.input-brand form {
  width: 100%;
}
.input-brand input {
  width: 100%;
  padding-left: 24px;
  height: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: var(--color-white);
  border-radius: 4px 0 0 4px;
  background-color: var(--color-black);
  outline: none;
  border: 1px solid var(--color-gray52);
}
.input-brand button {
  border: none;
  padding: 22.5px 28px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  border-radius: 0 4px 4px 0;
}
